 {% sw_extends '@Storefront/storefront/layout/header/logo.html.twig' %}

{% block layout_header_logo_link %}
    {{ parent() }}
    {# <h2 id="event-name"class="event-name">
        <a id="event-name1" class="event-name" href="" target="_blank"> {{page.EvName}}</a>
       
    </h2> #}
{% endblock %} 
{# {% sw_include '@Storefront/storefront/layout/header/top-bar.html.twig' %} #}